.HServices {
  width: 100%;
  padding: 5rem 0rem;
  background-color: #58585a;
}
.HServices-main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;
}

.hservices-head{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.hservices-head h2{
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.hservices-head p{
  text-align: center;
 width: 70%;
}
@media screen and (min-width: 1200px) {
  .HServices-main {
    max-width: 1140px;
  }
}
