.Contact {
    width: 100%;
    padding: 6rem 0rem;
}

.Contact-main {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 15px;
}

.Contact-box {
    display: flex;
    gap: 2rem;
    padding: 2rem 0rem;
}

.Contact-box-left {
    width: 50%;
    background-color: #f1f1f1;
    padding: 2rem;
    border-radius: 8px;
}

.Contact-box-right {
    width: 50%;
}

.contact-detail-box ul{
    padding: 0;
}
.contact-detail-box ul li {
    display: flex;
    align-items: center;
}

.contact-detail-box ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.contact-detail-box ul li a svg{
    color: #f1b33b;
}
.contact-detail-box ul li a p:first-child{
    margin-right: 10px;
}

@media screen and (min-width: 1200px) {
    .Contact-main {
        max-width: 1140px;
    }
}